var Loading = React.createClass({
  "render": function() {
    return (
      <div id="loading-cat">
        <%= image_tag "loading-cat.gif" %>
        <h1>Sit tight while we chase down some numbers . . .</h1>
      </div>
    )
  }
});
