<table class="user-finances">
  <thead>
  <th>Date</th>
  <th>Change</th>
  <th>Monthly Change</th>
  <th>Balance</th>
  </thead>
  <tbody>

  <% values = user.finance_log %>
  <% if values %>
      <% values.each do |frow| %>
          <%= render "finance_table_row", tense: "past", frow: frow %>
      <% end %>

  <% end %>
  <tr></tr>
  <% values = user.finance_forecast %>
  <% if values %>
      <% values.each do |frow| %>
          <%= render "finance_table_row", tense: "future", frow: frow %>
      <% end %>
      <tr></tr>
  <% end %>
  </tbody>
</table>

