<table class="user-finances">
  <thead>
  <th>Date</th>
  <th>Change</th>
  <th>Monthly Change</th>
  <th>Balance</th>
  </thead>
  <tbody>

  <% values = user.finance_log %>
  <% if values %>
      <% values.map { |log| {:date => log.on.to_date, :balance => log.value } }.each do |log_row| %>
          <tr>
            <td><%= log_row[:date] %></td>
            <td></td>
            <td></td>
            <td><%= log_row[:balance] %></td>
          </tr>
      <% end %>

  <% end %>
  <tr></tr>
  <% values = user.finance_forecast %>
  <% if values %>
      <% values.map { |forecast| {:date => forecast.date, :balance => forecast.balance } }.each do |forecast_row| %>
          <tr>
            <td><%= forecast_row[:date] %></td>
            <td></td>
            <td></td>
            <td><%= forecast_row[:balance] %></td>
          </tr>
      <% end %>
      <tr></tr>
  <% end %>
  </tbody>
</table>

