<table class="user-finances">
  <thead>
  <th>Date</th>
  <th>Change</th>
  <th>Monthly Change</th>
  <th>Balance</th>
  </thead>
  <tbody id="user-finances-body">
    <% balance_data.each_with_index do |balance, index| %>
      <tr>
        <td><%= balance[:date] %></td>
        <td>£<%= index > 0 ? balance[:value] - balance_data[index - 1][:value]  : 0.0 %></td>
        <td></td>
        <td>£<%= balance[:value] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

