<div id="transfers-list">
  <div class="options">
    <p id="options-in" class="selected">In</p>

    <p id="options-out" class="unselected">Out</p>
  </div>
  <div class="user-transfers-panel">
    <div id="user-transfers-in">
      <% user.transfers.where(outgoing: false).each do |tr| %>
        <%= react_component('Transfer',
          {
            outgoing: tr.outgoing,
            reference: tr.reference,
            on: tr.on.to_date,
            amount: tr.amount,
            recurrence: tr.class.recurrence,
            id: tr.id,
            destroy_link: destroy_transfer_path(current_user, tr.id)
          })
        %>
      <% end %>
    </div>
    <div id="user-transfers-out">
      <% user.transfers.where(outgoing: true).each do |tr| %>
        <%= react_component('Transfer', {
          outgoing: tr.outgoing,
          reference: tr.reference,
          on: tr.on.to_date,
          amount: tr.amount,
          recurrence: tr.class.recurrence,
          id: tr.id,
          destroy_link: destroy_transfer_path(current_user, tr.id)
        }) %>
      <% end %>
    </div>
  </div>
</div>
