<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <th>Name</th>
  <th>Balance</th>
  <tbody>
<% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.balance.value %></td>
    </tr>
<% end %>
  </tbody>
<%= link_to 'New User', new_user_path %>
