$error-background: #FDD7E3;

html, body, * {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: #333;
  font-weight: 200;
  margin: 0;
}

input[type=button], input[type=submit] {
  -webkit-appearance: none;
  background-color: #428bca;
  color: #fff;
  text-decoration: none;
  border: none;
  outline: 0;
  font-size: 1em;
}

#error_explanation {
  background-color: $error-background;
  width: auto;
  padding-right: 2em;

  ul {

    li {
      list-style-type: decimal;
      color: #711B1B;
    }

  }
}

input.error {
  border: 1px solid red !important;
}

.alert {
  border: 1px solid;
  padding: 0.1em;
  margin: 0.2em;
}

.alert-danger {
  background-color: $error-background;
  border-color: red;
}

/* Header */
#header {
  background-color: #5A5A5A;
  nav {
    float:right;
  }
  a {
    text-decoration: none;
    text-shadow: none;
    color: white;
  }
  a:hover {
    background: inherit;
  }
}
