// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.transfer {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 200;
  margin: 0.5em;
  padding: 1em;
  h1, h2, p {
    font-weight: 200;
  }
  h2 {
    margin: 0;
  }
  p {
    margin: 0.25em;
  }
}

.transfer-in {
  background-color: #E9FFE9;
  border: 1px dashed green;
  h2, p {
    color: green;
  }
}

.transfer-out {
  background-color: #FDD7E3;
  border: 1px dashed #711B1B;
  h2, p {
    color: #711B1B;
  }

}

#new-transfer-toggle {
  position: absolute;
  right: 0;
  margin-right: 5px;
  margin-top: 2px;
}

#new-transfer-toggle:hover {
  background-color: transparent;
}

#new_transfer {
  padding: 1em;
  .field {
    .input-group {
      width: 70%;
    }
  }
}

.user-transfers-new {
  position: relative;
}
