<div id="balance-forecast-prediction" class="blank-slate panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-heading">Balance Forecast</h1>
  </div>
  <h1 class="hint-text">Select a future date to see predicted transactions.</h1>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Transfer</th>
          <th>Change</th>
        </tr>
      </thead>
      <tr class="row-even">
        <td>Salary</td>
        <td>£3800.00</td>
      </tr>
      <tr class="row-odd">
        <td>Gas</td>
        <td>-£80.50</td>
      </tr>
      <tr class="row-even">
        <td>Coffee</td>
        <td>-£11.50</td>
      </tr>
      <tfoot>
        <tr>
          <td>Balance</td>
          <td>£12,000.00</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
