/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "bootstrap";

$error-background: #FDD7E3;

html, body, * {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: #333;
  font-weight: 200;
  margin: 0;
}

input[type=button], input[type=submit] {
  -webkit-appearance: none;
  background-color: #428bca;
  color: #fff;
  text-decoration: none;
  border: none;
  outline: 0;
  font-size: 1em;
}

input[type=button]:hover, input[type=submit]:hover {
  background-color: #2C71AD;
}

#error_explanation {
  background-color: $error-background;
  width: auto;
  padding-right: 2em;

  ul {

    li {
      list-style-type: decimal;
      color: #711B1B;
    }

  }
}

input.error {
  border: 1px solid red !important;
}

.alert {
  border: 1px solid;
  padding: 0.1em;
  margin: 0.2em;
}

.alert-danger {
  background-color: $error-background;
  border-color: red;
}

/* Header */
#header {
  background-color: #5A5A5A;
  nav {
    float:right;
  }
  a {
    text-decoration: none;
    text-shadow: none;
    color: white;
  }
  a:hover {
    background: inherit;
  }
}

#header-settings {
  text-align: left;
  display: inline;
  list-style: none;
  margin: 0;
  padding: .1em;
  float: right;
}

#header-settings li {
  display: inline-block;
  position: relative;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#header-settings li:hover {
  background: #555;
  color: #fff;
}

#header-settings li ul {
  padding: 0;
  position: absolute;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

#header-settings li ul li {
  background: #555;
  display: block;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}

#header-settings li ul li:hover { background: #666; }

#header-settings li:hover ul {
  display: block;
  opacity: 1;
  z-index: 100;
  visibility: visible;
}
