// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.transfer {
  background-color: #FFFFFF;
  color: lawngreen;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 200;
  h1, h2, p {
    font-weight: lighter;
  }
  p{
    margin: 0;
  }
}