// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-transfers {
  width: 20%;
  float: left;

  h1 {
    padding: 1.25em;
    font-size: 1.5em;
    background-color: #f9f9f9;
    margin: 0;
  }

  .options {
    width: 100%;
    p {
      padding: 0.5em 1.5em;
      display: inline-block;
      border-radius: 0 15px 0 0;
      margin: 0;
    }

    p:hover {
      cursor: pointer;
    }

    .unselected {
      background-color: #E4E4E4;
    }

    .selected {
      background-color: #f9f9f9;
    }
  }

  #user-transfers-in {
    padding: 0.25em;
  }

  #user-transfers-out {
    padding: 0.25em;
    display: none;
  }

  #user-transfer-new-button {
    cursor: pointer;
    margin: 0;
    background-color: #E4E4E4;
  }

  #user-transfer-new-button:hover {
    color: #505050;
  }

  #new_transfer {
    display: none;
  }

  .user-transfers-new {
    border: 1px solid #C3C2C2;
    margin-bottom: 1em;
  }

  .closed::after {
    margin-left: 0.5em;
    content: "▼"
  }

  .open::after {
    margin-left: 0.5em;
    content: "▲"
  }
}

.user-transfers-panel {
  background-color: white;
  border: 3px solid #f9f9f9;
}

#options-in {
  float: left;
}

.user-finances {
  min-width: 50%;
  //position: relative;
  //float: left;
  left: 5%;
  border: none;

  thead {
    background-color: #f9f9f9;
  }

  th, td {
    border: none;
  }

  th {
    font-size: 1.5em;
    padding: 1.25em;
  }

  td {
    padding: 0.5em 2em;
    text-align: center;
    margin: 0;
  }

  tr:hover > td {
    background-color: #daf6ff;
  }

  .past-date {
    background-color: #E4E4E4;
  }

  .future-date {
    background-color: #F5F5F5;
  }
  .past-pos {
    background-color: #E9FFE9;
  }

  .future-pos {
    background-color: #E9FFE9;
  }

  .past-neg {
    background-color: #FDD7E3;
  }

  .future-neg {
    background-color: #FDD7E3;
  }

  .past-neut {
    background-color: #D8F4FD;
  }

  .future-neut {
    background-color: #D8F4FD;
  }
}
