<header id="header">
    <nav>
        <ul id="header-settings">
            <li>
                Settings
                <ul>
                    <% if logged_in? %>
                    <li><%= link_to "Log out", logout_path, :method => :delete %></li>
                    <% else %>
                    <li><%= link_to "Log in", login_path %></li>
                    <% end %>
                </ul>
            </li>
            <li>&#9829;</li>
        </ul>
    </nav>
    <div style="clear: both;"></div>
</header>